apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: chert-base

resources:
- validator.yaml
- config.yaml
- monitoring.yaml
- rbac.yaml

commonLabels:
  project: chert
  blockchain: silica

images:
- name: ghcr.io/dedme/chert/silica
  newTag: latest

namespace: chert-system

configMapGenerator:
- name: silica-env-config
  envs:
  - env.properties

secretGenerator:
- name: silica-secrets
  envs:
  - secrets.env
  type: Opaque

generatorOptions:
  disableNameSuffixHash: true

patchesStrategicMerge:
- patches/resource-limits.yaml

patchesJson6902:
- target:
    group: apps
    version: v1
    kind: StatefulSet
    name: silica-validator
  path: patches/security-context.yaml